[Unit]
Description=kibana

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull sybeck2k/kibana
ExecStart=/usr/bin/docker run --rm --name kibana -e CONFD_BACKEND=etcd -e ETCD_HOST=${COREOS_PRIVATE_IPV4} -p 80:80 sybeck2k/kibana
ExecStartPost=/usr/bin/etcdctl set /elasticsearch/host ${ELASTICSEARCH_HOST} && /usr/bin/etcdctl set /elasticsearch/port ${ELASTICSEARCH_PORT}
ExecStop=/usr/bin/docker kill kibana
ExecStopPost=/usr/bin/etcdctl rm /elasticsearch/host && /usr/bin/etcdctl rm /elasticsearch/port

[X-Fleet]
X-Conflicts=kibana.service
